{%extends 'base.html'%}
{%load static%}
{%block title%}
Для журналистов
{%endblock%}
{%block content%}
<link rel="stylesheet" href="{%static 'css/style_for_j.css'%}">
<div class="card">
    <img src="https://images.pexels.com/photos/3783460/pexels-photo-3783460.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3783460.jpg&fm=jpg"
         width="1099" height="620">
    <div class="card-body">
        <h5 class="card-title"><font size="5">Хотите стать журналистом?</font></h5>
        <p class="card-text"><font size="4">Приветсвую. Если Вы желаете стать новостным журналистом, то наш сайт предоставляет Вам такую возможность! На данный момент
финансирование отсутствует, соответственно на данном этапе публикация новостей неоплачиваемо. Для получения такой возможности
необходимо связаться с администрацией, и, в случае успешного диалога, Вы получаете статус журналиста, который открывает вам
функционал, с помощью которого Вы сможете создавать новость, после чего она будет проверена модерацией и, при условии прохождения,
успешно опубликована. Спешим сообщить, что данный сайт находится на стадии развития и тестирования, и в случае нахождения
уязвимостей/ошибок/недоработок, просьба обратиться по электронному адресу с указанием деталей найденной проблемы. Адрес для
связи с техподдержкой - qwertyuiop21436@gmail.com. Для получения статуса журналиста необходимо написать на почту filipp.pustovoitenko.work@gmail.com
с указанием вашего логина и причин предоставить вам данную возможность. После данной операции в ближайшее время вам поступит ответ на почту с решением
            администрации. Удачи!</font></p>
        <a href="/#" class="btn btn-primary">Вернуться на главную</a>
    </div>
</div>

{%endblock%}
