{%extends 'base.html'%}

{%block title%}
{{block.super}}
{%endblock%}

{%block sidebar%}
{%include 'inc/_sidebar.html'%}
{%endblock%}

{%block content%}

{% for item in news%}
<div class="card mb-4">
    <div class="card-header ">
        Категория : <a href="{{item.category.get_absolute_url}}"> {{item.category}}</a>
    </div>
    <div class="card-body" >
        <div class="media">
            {% if item.photo %}
            <img src="{{item.photo.url}}" alt=" " width="640" height="360" class="mr-3">
            {%else %}
            <img src="media/photos/added_photos/photo_2022-07-16_12-31-35.jpg" alt="" width="350" class="mr-3">
            {%endif%}
            <div class="media-body mt-3">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.content|truncatewords:10 }}</p>
                <a href="{{item.get_absolute_url}}" class="btn btn-primary">Читать полностью</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_date|date:"Y-m-d H:i"}}
    </div>
</div>
{%endfor%}

{%endblock%}

